<div class="App">
  <h2 class='test-title'>Beers</h2>
  <table class='test-table'>
    <thead>
    <tr>
      <th>Product</th>
      <th>Temperature</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productsTemperature">
        <td class='test-table-name'>{{ item.name }}</td>
        <td class='test-table-temperature' style='text-align: center'>{{ item.temperature }}</td>
        <td class='test-table-status'>{{ showStatus(item) }}</td>
      </tr>
    </tbody>
  </table>
</div>
